<form action="/profiles">
	First name:<br>
	<input type="text" name="first_name">
	<br>
	Last name:<br>
	<input type="text" name="last_name">
	<br><br>
	<input type="submit" value="profile search">
</form>