<div class="portlet box blue">
    <div class="portlet-title">

        <div class="caption">

            <div class="caption">
                <i class="icon-speech"></i>
                <span class="caption-subject bold uppercase">Editing project</span>
            </div>
        </div>
        <div class="actions">
            <%= link_to projects_path, class: 'btn btn-circle btn-default' do %>
                <span class="glyphicon glyphicon-list-alt"></span>
                Back
            <% end %>

            <%= link_to @project, class: 'btn btn-circle btn-primary' do %>
                <span class="glyphicon glyphicon-info-sign"></span>
                Show
            <% end %>
            <a href="javascript:;" class="btn btn-circle btn-icon-only btn-default fullscreen" data-original-title="" title=""> </a>

        </div>
    </div>
    <div class="portlet-body">

        <%= render 'form' %>

    </div>
</div>

